@import "_vars";
@import "modules/_nav";
@import "modules/_footer";
@import "modules/_homePage";
@import "modules/_contact";
@import "modules/_about";
@import "modules/_portfolio";
@import "modules/_featurePage";
@import "modules/_mediaQueries";



.hidden {
    display: none;
}

body {
    background: #161c2d;
}

img, embed, object, video 
{
  max-width: 100%; 
}

html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }