.featurePage{

    h2{
        font-family: $main-font;
        font-size: 30px;
        color: #6baea3;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    p{
        max-width: 800px;
        display: block;
        margin: 0 auto;
        font-size: 22px;
        line-height: 40px;
        margin-bottom: 50px;

    }

    .fishermanParagraph{
        margin-top: 130px;
        max-width: 650px;
    }

    

    img{
        display: block;
        margin: 0 auto;
    }

    h3{
        margin: 0 auto;
        font-family: $main-font;
        font-size: 22px;
        color: #f8f8f8;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 60px;
        max-width: 600px;
        
    }

    .mugs{
        margin-bottom: 50px;
    }
}