
.hero {
    background: url(../images/hero_space.jpg) center center no-repeat;
    background-size: cover;
    height: 700px;
    // background: #161c2d;
}

.welcomeCon
{
    max-width: 1000px;
    margin: 0 auto;
    // padding-bottom: 100px;
    height: 400px;
}


.mainText {
    margin-top: 70px;
    margin-left: 30px;
    font-family: $main-font;
    font-size: 25px;
    color: aliceblue;
}

.tagline {
    margin-top: 30px;
    margin-left: 50px;
    font-family: $main-font;
    font-size: 23px;
    color: aliceblue;
}



