@media screen and (min-width: 600px){
	.contactCon, .infoCon{
		margin: 0 auto;
	}
}

@media screen and (min-width: 660px){
	.hero {
		height: 1200px;
	}
}

@media screen and (min-width: 800px){
	.team{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.hero {
		height: 1300px;
	}

	.aboutHero{
		height: 600px;

		h2{
			font-size: 40px;
		}

		h3{
			font-size: 25px;
		}
	}

}


@media screen and (min-width: 1024px) {

    #mainHeader
	{
		display: flex;
		flex-direction: row;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0;
		padding-top: 10px;
        justify-content: space-between;
        padding: 15px;
	}
	
	#button
	{
		display: none;
	}

	#logoCon
	{
		order: -1;
		width: 100px;
		height: 90px;
		margin-left: 0;
	}
	
	#burgerCon
	{
        display: flex;
        
        ul li a {
            font-size: 17px;
			margin-left: 40px;
			
            &:hover {
                color: #C180FA;
                padding-bottom: 8px;
            }
        }
    }
    
    #burgerMenu
	{
		display: flex;
		flex-direction: row;
	}

	.contactPage{
		display: flex;
		flex-direction: row; 
		justify-content: space-between;
		margin: 0 auto;
		padding-top: 70px;

		.infoCon{
			width: 450px;
			margin-top: 0;
			margin-bottom: 0;
		}

	 }


	 .teamCon{
		 display: flex;
		 flex-direction: row;

		 img{
			 width: 100%;
		 }
	 }

}

@media screen and (min-width: 1050px){
	// .hero {
	// 	height: 1300px;
	// 	background: none;
	// }

	.hero2{
		background: url(../images/laptop_hero.png);
	}
	
}

@media screen and (min-width: 1200px){
	.hero {
		height: 1200px;
		background-size: auto;
	}
	
	.aboutHero{
		height: 800px;

		h2{
			font-size: 50px;
		}

		h3{
			font-size: 35px;
			line-height: 50px;
		}
	}
}