@media screen and (min-width: 600px){
	.contactCon, .infoCon{
		margin: 0 auto;
	}
}


@media screen and (min-width: 1024px) {

    #mainHeader
	{
		display: flex;
		flex-direction: row;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0;
		padding-top: 10px;
        justify-content: space-between;
        padding: 15px;
	}
	
	#button
	{
		display: none;
	}

	#logoCon
	{
		order: -1;
		width: 100px;
		height: 90px;
	}
	
	#burgerCon
	{
        display: flex;
        
        ul li a {
            font-size: 17px;
			margin-left: 40px;
			
            &:hover {
                color: #C180FA;
                padding-bottom: 8px;
            }
        }
    }
    
    #burgerMenu
	{
		display: flex;
		flex-direction: row;
	}

	.contactPage{
		display: flex;
		flex-direction: row; 
		justify-content: space-between;
		margin: 0 auto;
		padding-top: 70px;

		.infoCon{
			width: 450px;
			margin-top: 0;
			margin-bottom: 0;
		}

	 }

	 
}